.body{
    background-color: #efefef;
}


.pic:link,
.pic:visited
{
    margin-top: 20;
}
.pic:hover,
.pic:active
{
    transform: scale(1.07);
    transition: transform 0.5s;
}


.text{
font-family: new yorker , Bold;
font-size: 17;
margin-left: 590;
}

.button:link,
.button:visited
{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 250px;
    font-family: new yorker ;
    font-size: 9;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    margin-left: 623;
    border: 2px solid;
}

.button:hover,
.button:active
{
    background-color: rgb(88, 88, 88);
    transform: scale(1.1);
    transition: transform 0.5s;
}


